{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
	name = "Leo Jweda"
	codespaces = {{ $codespaces }}

[edit]
	command = "code"
	args = ["--wait"]

[git]
	autoCommit = true
	autoPush = true
